body{
    background-color: rgb(255, 255, 255);
    font-family: 'Inter Tight', sans-serif;
    list-style: horizontal;
    margin: 10rem;
}

body ul{
    display: flex;
    padding-top: 3rem;
    gap: 15rem;
    width: 100%;
}